# Required: Honeycomb API key. Find one at https://ui.honeycomb.io/teams (click on "Settings")
export HONEYCOMB_API_KEY=<your-api-key>

# Optional: Service name (opentelemetry standard field). Can be any string
export OTEL_SERVICE_NAME=sequence-of-numbers-python
export OTEL_EXPORTER_OTLP_ENDPOINT=https://api.honeycomb.io:443
export OTEL_EXPORTER_OTLP_HEADERS="x-honeycomb-team=$HONEYCOMB_API_KEY"
