Flask
Requests==2.26.0
six==1.15.0
opentelemetry-api==1.10.0
opentelemetry-sdk==1.10.0
opentelemetry-exporter-otlp-proto-grpc==1.10.0
opentelemetry-instrumentation-flask==0.29b0
opentelemetry-instrumentation-requests==0.29b0
opentelemetry-instrumentation==0.29b0
python-dotenv
